/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.error { color: #ed7a53; }

.panel.panel-default.toggle.panelMove.panelClose.panelRefresh {overflow: hidden;}
/* class_routine */
.class_routine_box{overflow: hidden; border: none;}
