/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */

label.error {
    color: #ed7a53;
}
.panel.panel-default.toggle.panelMove.panelClose.panelRefresh {
    overflow: hidden;
}
/* class_routine */

.class_routine_box {
    overflow: hidden;
    border: none;
}
.modal-body {
    max-height: 450px !important;
}
#modal_ajax .form-horizontal .control-label {
    text-align: center !important;
}
.dashboard #content .contentwrapper,
.index #content .contentwrapper {
    padding-top: 60px;
}
/* Styles for search dropdown */

.dashboard .page-content,
.index .page-content {
    background: #fff !important;
}
.dashboard .panel,
.index .panel {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: all 1s ease 0s;
}
.dashboard .panel-body,
.index .panel-body {
    padding: 0 10px;
}
.dashboard #header,
.index #header{z-index: 999999;}
.search_box {
    position: relative;
    margin-bottom: 0;
    width: 29.5%;
}
.search_box form .top-search {
    width: 97%;
}
.search_box .category {
    left: 20px;
    position: absolute;
    top: 1px;
    margin-left: 0;
    margin-top: 13px;
    width: 65px;
}
.search_box .category .open {
    position: absolute !important;
    top: 30px !important;
    left: -10px !important;
    width: 120% !important;
}
.search_box form .top-search {
    padding-left: 90px;
}
.search_box form .search-btn {
    right: 18px;
    left: auto;
}
.search_box .category > a {
    border-right: 1px dotted #ccc;
    display: block;
    color: #333;
}
.search_box .category > a:hover {} .category .dropdown-menu::before {
    background: rgba(0, 0, 0, 0) url("../img/arrowup.png") no-repeat scroll 0 0 !important;
    border: medium none !important;
    content: "";
    height: 14px !important;
    position: absolute;
    top: -13px !important;
    width: 15px !important;
    z-index: 999999;
}
.category .dropdown-menu {
    background: #efefef none repeat scroll 0 0 padding-box;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    box-shadow: 0 1px 0 #fff;
    float: left;
    font-size: 12px;
    list-style: outside none none;
    margin: 0;
    min-width: 160px;
    padding: 4px;
    position: absolute;
    top: 34px;
    z-index: 999999;
}
.category .dropdown-menu li.menu > ul {
    padding: 0;
}
.category .dropdown-menu li.menu ul li {
    border-bottom: 1px solid #ebebeb;
    line-height: 14px;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 100%;
    list-style: none;
    text-align: left;
}
.category .dropdown-menu li.menu label {
    padding-left: 10px;
}
.category .dropdown-menu li.menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    display: block;
    float: left;
    margin-bottom: 0;
    min-width: 150px;
    padding: 0;
}
.category .dropdown-menu li.menu ul li a {
    clear: both;
    color: #333;
    display: inline-block;
    font-weight: 400;
    line-height: 14px;
    padding: 5px 0 5px 5px;
    white-space: normal;
    width: 100%;
}
.category .dropdown-menu li.menu ul li .checkbox-custom {
    display: inline-block;
}
.category .dropdown-menu li.menu span {
    display: inline-block;
    padding-left: 15px;
}
#content .contentwrapper .heading .breadcrumb1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    float: right;
    margin: 0 20px 0 0;
    padding: 15px 10px 6px;
}
#content .contentwrapper .heading .breadcrumb1 li:first-child {
    margin-right: 8px;
}
.breadcrumb1 > li {
    display: inline-block;
}
#content .contentwrapper .heading .breadcrumb1 li + li::before {
    display: none;
}
.breadcrumb1 > li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
#content .contentwrapper .heading .breadcrumb1 li a {
    color: #333;
}
#content .contentwrapper .heading .breadcrumb1 li i {
    margin-left: 0;
    margin-right: 0;
}
.breadcrumb1 {
    list-style: outside none none;
}
.filter-row {
    margin: 5px 0px 15px 0px;
    padding: 10px 0px 4px 20px;
    background-color: #e0e0e0;
    background-image: linear-gradient(to bottom, #eee 0px, #e5e5e5 100%);
    background-repeat: repeat-x;
    box-shadow: 0 0 1px #fff inset;
}
/* Todo list loading */

.loading_img {
    display: none;
    width: 69px;
    height: 89px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px;
}
.todo-widget .todo-list .todo-task-item .todo-task-text {
    margin-top: -3px;
    padding-top: 0;
}
.todo-task-item:nth-of-type(odd) {
    background: #f8f8f8;
}
.todo-task-item div {
    display: inline-block;
    float: left !important;
    margin-right: 0 !important;
    line-height: 20px;
}
.todo-task-item .checkbox-custom {
    width: 6%;
}
.todo-task-item .todo-task-text {
    width: 46%;
    line-height: 24px;
}
.todo-task-item .todo-category {
    width: 31%;
}
.todo-task-item .updateclick_box {
    width: 7%;
}
.todo-task-item .todo-close_box {
    width: 7%;
}
.updateclick_box .updateclick {
    background: transparent;
    border: none;
}
.updateclick_box .updateclick i {
    color: #39c;
}
.todo-task-item .todo-close_box .todo-close1 i {
    color: red;
}
.todo-task-item .todo-close_box .close {
    opacity: 0.9;
}
.updateclick_box .updateclick:hover i,
.todo-task-item .todo-close_box .todo-close1:hover i {
    color: #000;
}
.marginzero {
    margin: 0 !important;
}
/* Time list style deshboard */

.popover {
    z-index: 1049;
    top: 0;
    left: 0;
    display: none;
    min-width: 250px;
    margin: 0;
    padding: 0
}
.popover .popover-content {
    padding: 15px
}
.display-block.popover {
    box-shadow: 0 0 0 transparent
}
.popover.top {
    margin-top: -10px
}
.popover.right {
    margin-left: 10px
}
.popover.bottom {
    margin-top: 10px
}
.popover.left {
    margin-left: -10px
}
.popover-title {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent
}
.popover-title:empty {
    display: none
}
.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent
}
.popover .arrow {
    border-width: 10px
}
.popover .arrow:after {
    content: '';
    border-width: 10px
}
.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px
}
.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-width: 0
}
.popover.right .arrow {
    top: 50%;
    left: -22px;
    margin-top: -11px
}
.popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-width: 0
}
.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px
}
.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, .2)
}
.popover.left .arrow {
    top: 50%;
    right: -22px;
    margin-top: -11px
}
.popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, .2)
}
.popover .dropdown-menu,
.popover .nav-list {
    margin: 0;
    border: 0
}
.display-block.popover {
    float: none;
    width: auto;
    margin: 0
}
.fixed-header .popover {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0)
}
/**********************/

.timeline-box {
    position: relative
}
.timeline-box:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    margin-left: 0;
    content: '';
    border-left: 1px solid transparent
}
.timeline-box .tl-row {
    position: relative;
    padding: 10px 0
}
.timeline-box .tl-row .tl-item {
    width: 50%
}
.timeline-box .tl-row .tl-item .popover {
    position: relative;
    display: block;
    margin: 0;
    box-shadow: 0 0 0 transparent
}
.timeline-box .tl-row .tl-item .popover.left {
    float: right;
    margin-right: 35px
}
.timeline-box .tl-row .tl-item.float-right .popover.right {
    margin-left: 35px
}
.timeline-box .tl-row .tl-item .tl-panel {
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin-top: -8px;
    margin-left: 23px;
    text-align: left
}
.timeline-box .tl-row .tl-item.float-right .tl-panel {
    right: 50%;
    left: auto;
    margin-right: 23px;
    margin-left: 0;
    text-align: right
}
.timeline-box .tl-row .tl-item .tl-title {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px
}
.timeline-box .tl-row .tl-item .tl-label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 8px
}
.timeline-box .tl-row .tl-item .tl-content {
    font-size: 13px;
    margin: 0 0 10px;
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity: 80);
    height: 70px;
    overflow: hidden;
}
.timeline-box .tl-row .tl-item .tl-time {
    font-style: italic;
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity: 40)
}
.timeline-box .tl-row .tl-item .tl-bullet,
.timeline-box .tl-row .tl-item .tl-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 17px;
    height: 17px;
    margin-top: -9px;
    margin-left: -8px;
    border-radius: 100px
}
.timeline-box .tl-row .tl-item .tl-bullet:before {
    display: block;
    width: 9px;
    height: 9px;
    margin: 4px 0 0 4px;
    content: '';
    border-radius: 100px;
    background: #fff
}
.timeline-box .tl-row .tl-item .tl-icon {
    font-size: 18px;
    line-height: 34px;
    width: 34px;
    height: 34px;
    margin-top: -18px;
    margin-left: -17px;
    text-align: center
}
.timeline-scroll {
    overflow-x: scroll;
    overflow-y: hidden
}
.timeline-horizontal {
    height: 400px;
    padding: 10px 0
}
.timeline-horizontal .tl-row {
    float: left;
    width: 260px;
    height: 173px
}
.timeline-horizontal.timeline-box:before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    border: 0
}
.timeline-horizontal.timeline-box .tl-row .tl-item {
    width: auto
}
.timeline-horizontal.timeline-box .tl-row .tl-item .tl-panel {
    top: auto;
    bottom: -60px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center
}
.timeline-horizontal.timeline-box .tl-row .tl-item .tl-bullet {
    margin-left: -9px
}
.timeline-horizontal.timeline-box .tl-row .tl-item .tl-bullet,
.timeline-horizontal.timeline-box .tl-row .tl-item .tl-icon {
    top: auto;
    bottom: -27px
}
.timeline-horizontal.timeline-box .tl-row .tl-item .popover {
    position: absolute;
    top: auto;
    bottom: 10px;
    width: 100%
}
.timeline-horizontal.timeline-box .tl-row .tl-item.float-right .tl-panel {
    bottom: 0
}
.timeline-horizontal.timeline-box .tl-row .tl-item.float-right .popover {
    top: 230px;
    bottom: auto
}
/* color style */

.badge-info,
.bg-blue,
.bootstrap-switch-info,
.btn-info,
.checkbox-info div[id^=uniform-] span.checked,
.hover-blue:hover,
.hover-info:hover,
.label-info,
.radio-info div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #3dc4f5;
    background: #5bccf6
}
/* helper-css */

.badge-info,
.bg-blue,
.bootstrap-switch-info,
.btn-info,
.checkbox-info div[id^=uniform-] span.checked,
.hover-blue:hover,
.hover-info:hover,
.label-info,
.radio-info div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #3dc4f5;
    background: #5bccf6
}
.timeline-horizontal.timeline-box:before {
    background: #ddd;
    width: 100%;
}
#content-1 {
    width: 260px;
    height: 430px !important;
    overflow: hidden;
    background: #fdfdfd;
    padding: 0px;
    margin: 0;
}
.panel-body .todo-widget .todo-list {
    height: 350px;
    overflow-y: auto;
}
.tooltip {
    z-index: 9999999;
}
.k-event h3{ font-size: 16px; }
.dashboard.student_dashboard #content{background: #eceff1 !important; }

.dashboard.student_dashboard #content .contentwrapper{ padding-top: 67px;  }


#sidebar.page-sidebar .active .indicator {background-color: #39c; height: 36px; left: 0; position: absolute; top: 0; width: 4px;}
/*********************** media *****************************/

@media screen and (max-width:1279px) { }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {}
@media only screen and (min-width: 1024px) {
    #content-1 {
        height: 430px !important;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 1024px) { }
@media screen and (max-width: 1023px) {

.eventCalendar-subtitle{ font-size: 20px !important; }
.eventCalendar-list-wrap { margin: 20px auto 0 !important;}
.eventCalendar-list-content, .panel-body .todo-widget .todo-list {height: 180px !important;/* overflow-y: hidden !important;*/}

.eventCalendar-slider .eventCalendar-monthWrap.eventCalendar-currentMonth {width: 100% !important;}
.eventCalendar-slider {float: none !important; height: 280px !important; width: 100% !important;}
.eventCalendar-slider, .eventCalendar-details {width: 100% !important;}
.eventCalendar-details {float: none !important;}
#content-1, #highcharts-4, #highcharts-4 svg, #highcharts-6, #highcharts-6 svg{width: 100% !important;}

}
@media screen and (max-width:767px) { 

.eventCalendar-slider, .eventCalendar-details{width:100% !important;}
.eventCalendar-slider{float:none;}
.eventCalendar-details{float:none;}
.eventCalendar-slider .eventCalendar-monthWrap.eventCalendar-currentMonth{ width:100% !important; }
.arrow-nav-block { max-width:100%;}
.eventCalendar-list-wrap { margin: 20px auto 0 !important;}
.eventCalendar-showAsWeek .eventCalendar-day a { line-height:27px;}
.eventCalendar-daysList li.eventCalendar-dayWithEvents a { border-radius:0px;}
.eventCalendar-list-wrap { min-width:88% !important;}
.eventCalendar-subtitle { font-size:105%; } 

}
@media screen and (min-width : 320px) and (max-width : 568px) { }
@media screen and (min-width : 480px) and (max-width : 599px) { }
@media screen and (min-width : 320px) and (max-width : 479px) { }

